:root {
  // Main background
  --background: #F8F8F8;

  // Text
  --text: #8E8E93;
  --text-highlight: #fff;
  --placeholder: rgb(197, 197, 197);

  // Leftmenu
  --leftmenu-folder-bg: #e9e9e9f2;
  --leftmenu-snippets-bg: #ededed;

  // Current folder
  --leftmenu-folder-accent: #59ADC4;

  // Current snippet
  --leftmenu-snippet-accent: #A2845E;

  // Adder button (same color as text)
  --leftmenu-adder-bg: var(--text);

  // Text input backgrounds
  --input-bg: white;
  --input-shadow-bg: rgba(0,0,0,0.03);

  // Decorative elements
  --trash: #FF375F;
}