@black: #434343;
@white: #FFFFFF;
@white-bg: #F8F8F8;

@gray-bg: rgba(233, 233, 233, 0.95);
@gray-bg-alt: rgb(237, 237, 237);

@blue: #007AFF;
@blue-alt: #0A84FF;

@brown: #A2845E;
@brown-alt: #AC8E68;

@cyan: #55BEF0;
@cyan-alt: #5AC8F5;

@gray: #8E8E93;
@gray-alt: #98989D;

@green: #28CD41;
@green-alt: #32D74B;

@indigo: #5856D6;
@indigo-alt: #5E5CE6;

@mint: #00C7BE;
@mint-alt: #66D4CF;

@orange: #FF9500;
@orange-alt: #FF9F0A;

@pink: #FF2D55;
@pink-alt: #FF375F;

@purple: #AF52DE;
@purple-alt: #BF5AF2;

@red: #FF3B30;
@red-alt: #FF453A;

@teal: #59ADC4;
@teal-alt: #6AC4DC;

@yellow: #FFCC00;
@yellow-alt: #FFD60A;